* {
	box-sizing: border-box;
}

html {
	background-color: #A9A9A9;
	text-align: center;
}

body {
	display: inline-block;
	width: 95%;
	margin: 20px auto;
	background-color: #F1F1F1;
}

h2 {
	margin: 5px 5px 0px 25px;
}



.calWrap {
	width: 33%;
	margin: 5px 0;
	/*outline: 1px solid blue;*/
	text-align: left;
}



#calendar {
	width: 210px;
	margin: 20px 5px 0px 25px;
	border: 1px solid orange;
	background-color: white;
	box-shadow: 0px 0px 3px orange;
}

#datepicker {
	width: 225px;
	margin: 20px 5px 0px 25px;
	border: 1px solid orange;
	background-color: white;
	box-shadow: 0px 0px 3px orange;
}

#bike, #bicycle {
	width: 500px;
	position: absolute;
	top: 95px;
	left: 300px;
}